<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#cccccc" style="border-spacing:0px">
	<tbody>
		<tr style="border-collapse:collapse">
			<td align="center" valign="top" style="border-collapse:collapse">
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000" style="border-spacing:0px">
					<tbody>
						<tr style="border-collapse:collapse">
							<td width="100%" style="border-collapse:collapse">
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
									<tbody>
										<tr style="border-collapse:collapse">
											<td bgcolor="#CCCCCC" style="border-collapse:collapse">&nbsp;</td>
										</tr>
										<tr style="border-collapse:collapse">
											<td style="border-collapse:collapse">
												<table width="580" align="center" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0px">
													<tbody>
														<tr style="border-collapse:collapse">
															<td valign="top" height="5" style="border-collapse:collapse"></td>
														</tr>
														<tr style="border-collapse:collapse">
															<td valign="middle" style="border-collapse:collapse">
																<table align="left" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0px">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td height="5" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td align="center" valign="top" style="border-collapse:collapse"><a href="{{domain}}campaign/{{_id}}" style="text-decoration:none!important" target="_blank">{{name}}</a></td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td height="3" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																	</tbody>
																</table>
																<table border="0" align="right" cellpadding="0" cellspacing="0" style="border-spacing:0px">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td valign="middle" align="right" style="border-collapse:collapse">
																				<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;height:31px">
																					<tbody>
																						<tr style="border-collapse:collapse">
																							<td style="border-collapse:collapse">
																								<table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px">
																									<tbody>
																										<tr style="border-collapse:collapse">
																											<td style="border-collapse:collapse;border-left-style:solid;border-left-width:1px;border-left-color:rgb(255,255,255);padding:10px">
																											</td>
																											<td style="border-collapse:collapse;border-left-style:solid;border-left-width:1px;border-left-color:rgb(255,255,255);padding:10px">
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr style="border-collapse:collapse">
															<td valign="top" height="5" style="border-collapse:collapse"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr style="border-collapse:collapse">
											<td height="10" align="center" valign="top" bgcolor="#29abe2" style="border-collapse:collapse">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr style="border-collapse:collapse">
			<td align="center" valign="top" style="border-collapse:collapse">
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border-spacing:0px">
					<tbody>
						<tr style="border-collapse:collapse">
							<td align="center" valign="top" style="border-collapse:collapse">
								<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
									<tbody>
										<tr style="border-collapse:collapse">
											<td height="10" style="border-collapse:collapse"></td>
										</tr>
										<tr style="border-collapse:collapse">
											<td style="border-collapse:collapse;color:rgb(77,77,77);font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;text-align:left;padding:0px">
												<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
													<tbody>
														<tr style="border-collapse:collapse">
															<td align="center" valign="top" style="border-collapse:collapse">
																<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-spacing:0px;background-color:rgb(255,255,255)">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td align="center" valign="top" style="border-collapse:collapse;padding:10px 0px">
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr style="border-collapse:collapse">
															<td align="center" valign="top" style="border-collapse:collapse">
																<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-spacing:0px;background-color:rgb(255,255,255)">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td height="5" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td align="center" valign="top" style="border-collapse:collapse">
																				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
																					<tbody>
																						<tr style="border-collapse:collapse">
																							<td style="border-collapse:collapse">
																								<h2 style="font-family:Arial,Helvetica,sans-serif;font-size:26px;font-style:normal;letter-spacing:normal;text-align:left;font-weight:bold;padding:0px;margin:25px 0px 0px;display:block;line-height:normal!important">
																									CONGRATULATIONS!
																								</h2>
																							</td>
																							<td style="border-collapse:collapse"></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td height="5" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr style="border-collapse:collapse">
															<td align="center" valign="top" style="border-collapse:collapse">
																<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-spacing:0px;background-color:rgb(255,255,255)">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td align="center" valign="top" style="border-collapse:collapse">
																				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
																					<tbody>
																						<tr style="border-collapse:collapse">
																							<td style="border-collapse:collapse">
																								<h2 style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:20px;font-style:normal;letter-spacing:normal;text-align:left;font-weight:normal;padding:0px;margin:0px;display:block;line-height:normal!important">
																									Your pledge has been processed. Thank you for your support.
																								</h2>
																							</td>
																							<td style="border-collapse:collapse"></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr style="border-collapse:collapse">
															<td align="center" valign="top" style="border-collapse:collapse">
																<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-spacing:0px;background-color:rgb(255,255,255)">
																	<tbody>
																		<tr style="border-collapse:collapse">
																			<td height="10" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td align="" valign="top" style="border-collapse:collapse">
																				<p><strong>ORDER DETAILS:</strong></p>
																				<p><strong>Order Total:</strong> ${{amount}}</p>
																				<p><strong>Receipt Date:</strong>{{date}}</p>
																				<br />
																				<p>When the fundraiser has finished, we will process your order. In the meantime, be sure to share this fundraiser with your friends.</p>

																				<p>If you have any questions, please<span>&nbsp;</span><a href="mailto:contact@farpointstation.com" style="text-decoration:none!important;color:rgb(85,172,238);font-weight:normal" target="_blank">contact us.</a></p>
																				<div>
																					<br>
																				</div>
																			</td>
																			<td align="center" valign="top" style="border-collapse:collapse;padding-left:25px;padding-right:25px">
																				<img src="{{hero}}" alt="Fundraiser" width="200px" style="display:block!important;min-height:auto!important;line-height:12px;outline:none;text-decoration:none;width:200px" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 639.5px; top: 380.796875px;"><div id=":1uv" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
																			</td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td height="10" align="center" valign="top" style="border-collapse:collapse"></td>
																		</tr>
																		<tr style="border-collapse:collapse">
																			<td align="" valign="top" colspan="2" style="border-collapse:collapse">
																				<p></p>
																				<p>All the Best,<br style="line-height:12px">
																					<br style="line-height:12px">
																					<span>The <span class="il">Space EdVentures</span> Foundation</span></p>
																				</td>
																			</tr>
																			<tr style="border-collapse:collapse">
																				<td height="100" align="center" valign="top" style="border-collapse:collapse"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr style="border-collapse:collapse">
																<td align="center" valign="top" bgcolor="#e6e7e8" style="border-collapse:collapse;background-color:rgb(230,231,232);background-repeat:initial initial">
																	<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0px">
																		<tbody>
																			<tr style="border-collapse:collapse">
																				<td valign="top" style="border-collapse:collapse;color:rgb(128,128,128);font-family:Arial,Helvetica,sans-serif;font-size:10px;line-height:15px;padding:10px;text-align:left;font-weight:bold">
																					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing:0px">
																						<tbody>
																							<tr style="border-collapse:collapse">
																								<td width="59%" align="left" style="border-collapse:collapse">
																									<div style="text-align:left"><br style="line-height:12px">Copyright 2015 <span class="il">Space EdVentures</span> Foundation<br style="line-height:12px">
																										<span style="text-align:right"></span></div>
																										<div style="text-align:right">&nbsp;</div>
																									</td>
																									<td width="40%" align="left" style="border-collapse:collapse;font-size:12px;color:rgb(170,170,170)">
																										<div style="text-align:left">You received this message because your email address was used to submit a pledge for a fundraiser.</div>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr style="border-collapse:collapse">
																	<td height="10" align="center" valign="top" bgcolor="#000000" style="border-collapse:collapse">
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr style="border-collapse:collapse">
					<td height="20" align="center" valign="top" style="border-collapse:collapse">
						&nbsp;</td>
					</tr>
				</tbody>
			</table>
